<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UNIVERSITY</title>
  </head>
  <body>
    <h1>UNIVERSITY</h1>
    <div class="banner">
      <div class="navbar">
        <ul>
          <li><a href="{% url 'University:student_registration' %}">Student Registration</a></li>
          <li><a href="{% url 'University:course_registration' %}">Course Registration</a></li>
          <li><a href="{% url 'University:course_add' %}">Course Add</a></li>
          <li><a href="{% url 'University:course_drop' %}">Course Drop</a></li>
          <li><a href="{% url 'University:results' %}">Grades</a></li>
          <li><a href="{% url 'University:personal_information' %}">Personal Information</a></li>
        </ul>

      </div>
      </div>

  </body>
</html>
